@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Foundation.Common.ExtensionMethods
@using ComponentDataSource = Sitecore.Commerce.XA.Feature.Account.AccountFeatureConstants.Orders.OrderHeader.DataSourceFields

@model Sitecore.Commerce.XA.Feature.Account.Models.OrderHeaderRenderingModel


<div @Html.Sxa().Component("cxa-orderdetailsheader-component", Model.Attributes) >
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            <p>@Model.ErrorMessage</p>
        </div>
    }
    else
    {
        <div class="component-content">
            <div class="order-header-lines">
                <p class="order-number" title="@Model.OrderIdLabelTooltip">
                    <span class="label">
                        @Html.Sitecore().Field(ComponentDataSource.OrderIdLabelText, Html.Sitecore().CurrentItem):
                    </span>
                    <span class="value">
                        @Model.TrackingNumber
                    </span>
                </p>
                <p class="order-date" title="@Model.OrderDateLabelTooltip">
                    <span class="label">
                        @Html.Sitecore().Field(ComponentDataSource.OrderDateLabelText, Html.Sitecore().CurrentItem):
                    </span>
                    <span class="value">
                        @Model.Created.ToDisplayedDate()
                    </span>
                </p>
                <p class="order-status" title="@Model.OrderStatusLabelTooltip">
                    <span class="label">
                        @Html.Sitecore().Field(ComponentDataSource.OrderStatusLabelText, Html.Sitecore().CurrentItem):
                    </span>
                    <span class="value">
                        @Model.Status
                    </span>
                </p>
            </div>
        </div>
    }
</div>
