@*//-----------------------------------------------------------------------
    // Copyright 2017 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Feature.CategoryNavigation.Models
@model Sitecore.Commerce.XA.Feature.CategoryNavigation.Models.CategoryNavigationRenderingModel

@{
    var messageSummaryError = @Model.ErrorMessageDetail;
}

<div @Html.Sxa().Component("cxa-navigationbar-component", Model.Attributes) data-message-summary-error="@messageSummaryError" data-cxa-component-class="Navigation" data-cxa-component-initialized="false" data-cxa-component-type="component">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="error-message">@Model.ErrorMessage</div>
    }
    else
    {
        if (Model != null && Model.Categories != null && Model.Categories.Any())
        {
            <div class="category-navigation component-content" role="navigation">
                <nav class="product-categories-menu">
                    <ul class="category-navigation-list">
                        @{
                            foreach (var category in Model.Categories)
                            {
                                <li class="category-item"><a class="category-link" href="@category.Link" itemid="@category.ItemId.ToString()">@category.DisplayNameRender</a></li>
                            }
                        }
                    </ul>
                    <div class="navigation-header">
                        <a class="toggle-nav" href="#">&#9776;</a>
                        <a class="store-name" href="#">@Model.StoreTitle</a>
                    </div>

                </nav>
                <div>
                </div>

            </div>
        }
    }
</div>