@*//-----------------------------------------------------------------------
    // Copyright 2017 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Feature.CategoryNavigation.Models

@model @Sitecore.Commerce.XA.Feature.CategoryNavigation.Models.SubcategoryNavigationModel


<div @Html.Sxa().Component("cxa-subcategorynavigation-component", Model.Attributes)>
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        @Model.ErrorMessage
    }
    else
    {
        if (Model != null || Model.ChildCategories != null || Model.ChildCategories.Any())
        {


            <div class="subcategory-navigation component-content">
                <h4 class="subcategories-title">@Model.CategoryDisplayNameRender</h4>

                @{ string name = Model.CategoryName; }
                <div class="@name.Replace(" ", "").ToLower()-list">
                    <ul class="@name.ToLower()">
                        @foreach (var category in Model.ChildCategories)
                        {
                            <li class="@(string.Equals(Model.CategoryName, category.Name, StringComparison.OrdinalIgnoreCase) ? "active" : "")"><a href="@category.Link">@category.DisplayNameRender</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
    }
</div>