@using Sitecore.XA.Feature.Media.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields

@model Sitecore.XA.Feature.Media.Models.GalleryRenderingModel

<div @Html.Sxa().Component("gallery", Model.Attributes) data-properties='@Html.Raw(Model.JsonDataProperties)'>
    <div class="component-content">

        @if (Model.Rendering.DataSourceItem != null)
        {
            if (Model.Media != null && !Model.Media.Any())
            {
                using (Html.Sxa().BeginEditFrame(Html.Sitecore().CurrentRendering.DataSource, "Gallery Empty", Model.IsControlEditable))
                {
                    @Model.MessageIsEmpty
                }
            }
            else if (Model.Media == null)
            {
                @Model.MessageEditHere
            }
        }
        else
        {
            @Model.MessageIsEmpty
        }
        <div class="gallery-inner" id="@Guid.NewGuid().ToString()">
            @if (Model.Media != null)
            {
                foreach (GalleryMediaItem media in Model.Media)
                {
                    foreach (BaseVariantField variantField in Model.VariantFields)
                    {
                        @Html.RenderingVariants().RenderVariant(variantField, media.Item, Model.RenderingWebEditingParams, media, media.Href)
                    }
                }
            }
        </div>
    </div>
</div>
