@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc

@model Sitecore.Commerce.XA.Feature.Account.Models.ChangePasswordRenderingModel

@{
    var currentItem = @Html.Sitecore().CurrentItem;
    var saving = currentItem["Save Changes Button In-Progress Label"];
    var saveTooltip = currentItem["Save Changes Button Tooltip"];
    var cancelTooltip = currentItem["Cancel Button Tooltip"];
    var saveRedirectLink = Model.SaveChangesRedirectLink;
    var cancelRedirectLink = Model.CancelRedirectLink;
}

<div @Html.Sxa().Component("cxa-changepassword-component", Model.Attributes)>
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        <div class="component-content" data-cxa-component-class="ChangePasswordForm" data-cxa-component-initialized="false" data-cxa-component-type="form" data-success-redirect-url="@saveRedirectLink">
        @using (Ajax.BeginRouteForm("RootApiRoutes", new { action = "ChangePassword", controller = "Account" }, new AjaxOptions { OnBegin = "ChangePasswordForm.OnBegin", OnSuccess = "ChangePasswordForm.OnSuccess", OnComplete = "ChangePasswordForm.OnComplete", HttpMethod = "Post" }, new { @id = "ChangePasswordForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.Sitecore().FormHandler()

            <div class="changepassword-currentpassword form-element">
                <label for="OldPassword">@Html.Sitecore().Field("Current Password Label", currentItem)<span>*</span></label>
                @Html.PasswordFor(m => m.OldPassword,
                    new
                    {
                        placeholder = currentItem["Current Password Hint Text"],
                        data_val_required = currentItem["Current Password Missing Message"],
                        autocomplete = "off",
                        disabled = "disabled"
                    })
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="changepassword-newpassword form-element">
                <label for="NewPassword">@Html.Sitecore().Field("New Password Label", currentItem)<span>*</span></label>                
                @Html.PasswordFor(m => m.NewPassword,
                    new
                    {
                        placeholder = currentItem["New Password Hint Text"],
                        data_val_length = string.Format(currentItem["New Password Length Message"].ToString(), 6),
                        data_val_required = string.Format(currentItem["New Password Missing Message"].ToString(), 6),
                        data_val_length_min = "6",
                        data_val_length_max = "100",
                        autocomplete = "off",
                        disabled = "disabled"
                    })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="changepassword-confirmpassword form-element">
                <label for="ConfirmPassword">@Html.Sitecore().Field("Repeat Password Label", currentItem)<span>*</span></label>
                @Html.PasswordFor(m => m.ConfirmPassword,
                    new
                    {
                        placeholder = currentItem["Repeat Password Hint Text"],
                        data_val_length = string.Format(currentItem["Repeat Password Length Message"].ToString(), 6),
                        data_val_required = string.Format(currentItem["Repeat Password Missing Message"].ToString(), 6),
                        data_val_equalto_other = "*.NewPassword",
                        data_val_equalto = currentItem["Passwords Do Not Match Message"],
                        data_val_length_min = "6",
                        data_val_length_max = "100",
                        autocomplete = "off",
                        disabled = "disabled"
                    })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <div class="changepassword-buttons form-element">
                <a title="@cancelTooltip" href="@cancelRedirectLink" disabled="disabled">@Html.Sitecore().Field("Cancel Button Label", currentItem)</a>
                <button title="@saveTooltip" type="submit" data-loading-text="@saving" disabled="disabled">@Html.Sitecore().Field("Save Changes Button Label", currentItem)</button>
            </div>
        }
        </div>
    }
</div>
