@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Sitecore.Shell.Feeds.Controllers
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.Commerce.XA.Feature.Account.Models.ForgotPasswordRenderingModel

@{
    var currentItem = @Html.Sitecore().CurrentItem;
    var submitting = currentItem["Submit Button In-progress Label"];
    var emailLabel = @Html.Sitecore().Field("Email Address Label", currentItem);
}

<div @Html.Sxa().Component("cxa-forgotpassword-component", Model.Attributes) data-cxa-component-class="ForgotPasswordForm" data-cxa-component-initialized="false" data-cxa-component-type="form">
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        <div class="component-content" >
                <div class="forgot-password-form">
                    @using (Ajax.BeginRouteForm("RootApiRoutes", new { action = "ForgotPassword", controller = "Account"}, new AjaxOptions { OnBegin = "ForgotPasswordForm.OnBegin", OnSuccess = "ForgotPasswordForm.OnSuccess", OnComplete = "ForgotPasswordForm.OnComplete", HttpMethod = "Post" }, new { @id = "ForgotPasswordForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(m => m.RenderingItemId)
                        
                        <div class="email-entry-section" data-bind="visible: showEmailEntryView">
                            <div>
                            <label for="EmailAddress">@emailLabel<span>*</span></label>
                                @Html.TextBoxFor(m => m.EmailAddress,
                                            new
                                            {
                                                placeholder = currentItem["Email Address Hint Text"],
                                                data_val_required = currentItem["Email Address Missing Message"],
                                                data_val_regex = currentItem["Email Address Invalid Message"],
                                                data_val_regex_pattern = Model.EmailAddressValidationRegex,
                                                data_val_length_max = "256",
                                                data_val_length = string.Format(currentItem["Email Address Max Length Message"].ToString(), 256),
                                                @class = "form-control new-user",
                                                disabled = "disabled",
                                                data_bind = "value: emailAddress"
                                            })
                                @Html.ValidationMessageFor(m => m.EmailAddress)
                            </div>
                            <div class="email-entry-buttons">
                                <button type="submit" data-loading-text="@submitting" disabled="disabled" title="@currentItem["Submit Button Tooltip"]">@Html.Sitecore().Field("Submit Button Label", Html.Sitecore().CurrentItem)</button>
                                <a href="/Login" disabled="disabled">@Html.Sitecore().Field("Cancel Button Label", Html.Sitecore().CurrentItem)</a>
                            </div>
                        </div>

                        <div class="row-forgotpassword-confirmation" data-bind="visible: showConfirmationView" style="display: none;">
                            <div class="forgotpassword-confirmation-message">
                                @Html.Sitecore().Field("Email Sent Message", currentItem)
                            </div>
                            <div class="forgotpassword-confirmation-email">
                                <span>@Html.Sitecore().Field("Email Address Label", currentItem): <b><span class="spnEmailAddress" data-bind="text: displayEmailAddress"></span></b></span>
                                <p>&nbsp;</p>
                            </div>
                            
                            <div class="forgotpassword-confirmation-buttons">
                                <a disabled="disabled" href="/">@Html.Sitecore().Field("Back to Shopping Button Label", currentItem)</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
    }
</div>