@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Text
@using Sitecore.Web
@using Sitecore.Web.UI.Controls.Common.UserControls
@using Texts = Sitecore.ListManagement.Client.Texts
@model Sitecore.Mvc.Presentation.RenderingModel
@{

    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-segmentBuilder";

    rendering.Requires.Script("listmanager", "SegmentBuilder.js");
    rendering.Requires.Css("listmanager", "SegmentBuilder.css");


    var url = new UrlString(Sitecore.Context.Site.XmlControlPage);
    url["xmlcontrol"] = "Sitecore.Shell.Applications.Analytics.SegmentBuilder";
    var handle = new UrlHandle();
    handle.Add(url);
    rendering.Attributes["data-bind"] = "visible: isVisible";
    rendering.Attributes["data-sc-segmentbuilderurl"] = url.ToString();
    var controlId = rendering.ControlId;
    var htmlAttributes = rendering.HtmlAttributes;
}

<script data-layout-segmentbuilder-condition="@controlId" type="text/x-sc-segmentbuilder">
  <div class="sc-accordion sc-advancedExpander">
    <div class="sc-accordion-header sc-advancedExpander-header">
      <table>
        <tr>
          <td class="sc-accordion-header-title sc-advancedExpander-header-title">
            <div class="sc-accordion-header-cell sc-advancedExpander-header-cell">
              <span class="sc-rule-name" title="@ClientHost.Globalization.Translate(Texts.Rule)"></span>
            </div>
          </td>
          <td class="sc-accordion-header-actionbar sc-advancedExpander-header-actionbar">&nbsp;</td>
          <td class="sc-accordion-header-chevron sc-advancedExpander-header-chevron">&nbsp;</td>
          <td class="sc-accordion-header-chevron sc-advancedExpander-header-chevron">
            <a href="#" class="sc-accordion-chevron-link sc-advancedExpander-chevron-link">
              <span class="sc-accordion-header-chevron-glyph sc-accordion2-header-chevron-glyph-open sc-advancedExpander-header-chevron-glyph sc-advancedExpander2-header-chevron-glyph-open"></span>
            </a>
          </td>
        <tr>
        <tr>
          <td class="sc-accordion-header-promotedfields sc-advancedExpander-header-promotedfields" colspan="4"></td>
        </tr>
      </table>
    </div>
    <div class="sc-accordion-body sc-advancedExpander-body" data-bind="visible: isOpen">
      <div class="sc-advancedExpander-bodywrapper">
        <div class="row show-padding">
          <div class="col-md-12 pull-left sc-segmentbuilder-conditioncontent-left-field">
            <div class="col-md-8">
              <div class="sc-conditions"></div>
            </div>
            <div class="col-md-4 sc-align-right">
              <button type="button"
                      class="btn sc-btn btn-default sc-segmentbtn sc-listmanagement-remove-condition pull-right"
                      title='@ClientHost.Globalization.Translate(Texts.RemoveThisRule)'>
              @ClientHost.Globalization.Translate(Texts.RemoveRule)
              </button>
              <button type="button"
                      class="btn sc-btn btn-default sc-segmentbtn sc-listmanagement-edit-rules pull-right"
                      title="@ClientHost.Globalization.Translate(Texts.EditThisRule)">
              @ClientHost.Globalization.Translate(Texts.EditRule)
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</script>

<div @htmlAttributes>
    <div class="sc-border sc-align-center sc-segmentbuilderbody">
    </div>
    <iframe style="display: none;" src="about:blank" id="SegmentBuilderFrame" class="sc-segmentBuilderFrame" hidden="hidden"></iframe>
</div>