@using System.Web.Mvc.Html
@using Sitecore.Data
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web;
@using Sitecore.Web.UI.Controls.Common.UserControls
@using Sitecore.Web.UI.Controls.Common.Images
@using Sitecore.Web.UI.Controls.Common.Texts
@using Sitecore.Web.UI.Controls.Common.ProgressIndicators
@using Sitecore.Web.UI.Controls.Common.Renderings
@model RenderingModel
@{
  const string BasePath = "/sitecore/shell/client/Sitecore/ExperienceEditor/Dialogs/BaseDialogMockup/";
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-DialogPopup";
  rendering.Requires.Script(BasePath + "BaseDialogMockup.js");
  rendering.Requires.Css(BasePath + "BaseDialogMockup.css");

  var header = WebUtil.GetQueryString("Header", this.Html.Sitecore().CurrentItem["Header"]);
  var description = WebUtil.GetQueryString("Description", this.Html.Sitecore().CurrentItem["Description"]);

  var htmlAttributes = rendering.HtmlAttributes;
}

<div @htmlAttributes>
  @Html.Sitecore().Controls().ProgressIndicator("dialogProgressIndicator", true, new { IsFullScreen = true })
  <div class="dialog-popup">
    <div class="sc-dialogWindow-header" style="padding-top: 0px;">
      <span class="sc-dialogWindow-header-title">
        @Html.Sitecore().Controls().Text("DialogHeader", header)
      </span>
      <br/>
      @Html.Sitecore().Controls().Text("DialogDescription", description, new { TextType = TextType.Title})
    </div>    

    <div class="dialog-content" id="dialogContent">
      @this.Html.Sitecore().Placeholder("Dialog.Content")
    </div>

    <div class="sc-dialogWindow-buttons" style="bottom:0; position:absolute; width:100%;">
      @this.Html.Sitecore().Placeholder("Dialog.Buttons")
    </div>
  </div>
</div>

<script type="text/javascript">
  var width = getQueryStringValue(location.href, "dialogWidth") || '@this.Html.Sitecore().CurrentItem["Width"]';
  var height = getQueryStringValue(location.href, "dialogHeight") || '@this.Html.Sitecore().CurrentItem["Height"]';
  var dialogContent = document.getElementById("dialogContent");
  var heightDelta = 121;
  heightDelta = heightDelta - ('@this.Html.Sitecore().CurrentItem["Description"]' === '' ? 20 : 0);
  dialogContent.style.minWidth = width + "px";
  dialogContent.style.minHeight = parseInt(height) - heightDelta + "px";
  dialogContent.style.maxHeight = dialogContent.style.minHeight;

  function getQueryStringValue (url, parameterName) {
    parameterName = parameterName.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + parameterName + "=([^&#]*)");
    var results = regex.exec(decodeURIComponent(url));
    return results == null ? "" : results[1].replace(/\+/g, " ");
  }
</script>