
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Feature.Cart.Models

@model StepIndicatorRenderingModel

<div @Html.Sxa().Component("cxa-stepindicator-component", Model.Attributes)>

    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        @Model.ErrorMessage
    }
    else
    {
        <div class="component-content checkout-step-indicator">
            <div>
                <ul class="steps">
                    @foreach (var key in Model.Labels.Keys)
                    {
                        if (Model.CurrentStep != null && Model.CurrentStep.Equals(Model.Labels[key]))
                        {
                            <li class="active"><a id="@key" href="#" class="step-tab">@Model.Labels[key]</a></li>
                        }
                        else
                        {
                            <li class=""><a id="@key" href="#" class="step-tab">@Model.Labels[key]</a></li>
                        }
                    }
                </ul>
            </div>
            
        </div>
    }
</div>
