@using Sitecore
@using Sitecore.ListManagement.Client.Web.UI.Controls.ImportMapTo
@using Sitecore.Mvc.Presentation
@using Texts = Sitecore.ListManagement.Client.Texts
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var rendering = new ImportMapTo(new DatasourceBasedParametersResolver(Model.Rendering))
    {
        Class = "sc-importMapTo"
    };

    rendering.Requires.Script("listmanager", "ImportMapTo.js");
    rendering.Requires.Css("listmanager", "ImportMapTo.css");

    rendering.SetAttribute("data-sc-importmodel", rendering.GetImportModelJSon());

    var controlId = rendering.ControlId;
    var htmlAttributes = rendering.HtmlAttributes;
}

<script data-layout-importmapto-row="@controlId" type="text/x-sc-importMapTo">
  <div class="row row-fluid sc-show-padding">
    <div class="col-md-5">
      <select class="form-control sc-combobox" name="sc-combobox-@controlId"
              id="sc-combobox-@controlId" data-position="<%= position %>"
              data-datafield="<%= dataField %>" data-automap="<%= autoMap %>"
              data-automapsource="<%= autoMapSource %>"
              data-required="<%= required %>">
        <option value="-1" selected="selected" data-lastposition="">@ClientHost.Globalization.Translate(Texts.SelectFieldFromFile)</option>
        <% for (var i = 0; i < fileFields.length; i = i + 1) { %>
        <option value="<%= i %>"><%= fileFields[i] %></option>
        <% } %>
      </select>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <span class="sc-text pull-left"><% if(required == true) { %> <span class="lm-asterisk">*</span> <% } %><%= fieldName %></span>
    </div>
  </div>
</script>

<div @htmlAttributes>
    <div>
        <div>
            <div class="row row-fluid sc-show-paddingLeftBottom">
                <div class="col-md-9">
                    <span class="pull-left" title="@ClientHost.Globalization.Translate(Texts.TheContactIdentifierIsTheUniqueValueThatIdentifiesYourContacts)">
                        <input type="checkbox" class="sc-importmaptomanualmap"/> @ClientHost.Globalization.Translate(Texts.ManuallyMapContactIdentifiersToUseEmailAddressAsTheContactIdentifierLeaveUnchecked)
                    </span>
                </div>
            </div>
            <div class="row row-fluid sc-show-paddingLeftBottom">
                <div class="col-md-9">
                    <span class="pull-left" title="@ClientHost.Globalization.Translate(Texts.TheContactIdentifierSourceIsTheValueThatShowsWhichSystemTheIdentifierOriginatedFrom)">
                        <input type="checkbox" class="sc-identifiersourcemap" /> @ClientHost.Globalization.Translate(Texts.ManuallyMapContactIdentifierSourcesToUseTheDefaultListManagerIdentifierSourceLeaveUnchecked)
                    </span>
                </div>
            </div>
            <div class="lm-header">
                <div class="row row-fluid sc-show-padding">
                    <div class="col-md-5">
                        <label class="sc-label pull-left">
                            <strong>@ClientHost.Globalization.Translate(Texts.FileField)</strong>
                        </label>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <label class="sc-label pull-left">
                            <strong>@ClientHost.Globalization.Translate(Texts.SitecoreField)</strong>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="lm-scroll-import">
            <div class="sc-align-center sc-importmaptobody">
            </div>
        </div>
    </div>
</div>
