@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
    var showFooter = userControl.GetBool("ShowFooter");
}

<header class="sc-globalHeader">
    @Html.Sitecore().Placeholder("GlobalHeader")
</header>

<section class="sc-applicationContent">
    <header class="sc-applicationHeader">
        @Html.Sitecore().Placeholder("ApplicationHeader")
    </header>   
    <section class="xfile-sc-primaryInfo">
        @Html.Sitecore().Placeholder("PrimaryInfo")
    </section>
    <section class="sc-applicationContent-main">
        @Html.Sitecore().Placeholder("ApplicationContent.Main")
    </section>
</section>

@if (showFooter)
{
    <footer class="sc-globalFooter">
        @Html.Sitecore().Placeholder("GlobalFooter")
    </footer>
}