@using Sitecore.XA.Feature.Compliancy.Models

@model PrivacyWarningRenderingModel

@{
    Layout = Sitecore.Configuration.Settings.GetSetting("XA.Foundation.Presentation.MetaComponentLayoutPath", "../SXA/Meta Component Layout.cshtml");
}

@if ((Model != null && Model.ShowPrivacyWarning) || Model.PageItem.TemplateID == Sitecore.XA.Foundation.Presentation.Templates.MetadataPartialDesign.ID)
{
    <div class="privacy-warning @Model.SelectedPrivacyWarningType.ToString().ToLower()" style="@(Model.IsEdit ? "display:none" : "")">
        @if (Model.ShowCloseButton)
        {
            <div class='close'>
                @{
                    var onClickEvent1 = Model.SelectedPrivacyWarningType == PrivacyWarningType.AcceptOnClose ? "XA.cookies.createCookie('privacy-notification', 1, 365);XA.cookies.removeCookieWarning();" : "XA.cookies.removeCookieWarning();";
                    onClickEvent1 = Model.IsEdit ? "" : onClickEvent1;
                }
                <a onclick="@onClickEvent1">X</a>
            </div>
        }
        <div class="info">
            @Html.Raw(Model.PrivacyWarningContent)
        </div>
        @if (!string.IsNullOrEmpty(Model.PrivacyWarningLearnMoreTarget))
        {
            <div class='learnMore'>
                <a href="@Model.PrivacyWarningLearnMoreTarget">
                    @Model.PrivacyWarningLearnMoreButtonText
                </a>
            </div>
        }
        <div class="submit">
            @{
                var onClickEvent2 = Model.IsEdit ? "" : "XA.cookies.createCookie('privacy-notification', 1, 365);XA.cookies.removeCookieWarning();";
            }
            <a onclick="@onClickEvent2">@Model.PrivacyWarningButtonText</a>
        </div>
    </div>
}