@using Sitecore.Globalization

@{
    Layout = "UtilLayout.cshtml";
    ViewBag.Title = @Translate.Text(Sitecore.ContentTesting.Texts.CONFIRMATION);
}

@model Sitecore.ContentTesting.ViewModel.Confirmation

<p>@Model.Message</p>
@using (Html.BeginRouteForm("Sitecore.ContentTesting.EmailAction", new { action = Model.Action }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="TestId" value="@Model.TestId"/>
    <input type="hidden" name="DeviceId" value="@Model.DeviceId" />
    <div class="wf-footer">
        <input type="submit" value="@Translate.Text(Sitecore.ContentTesting.Texts.YES)" />
    </div>
}