@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls
@using Sitecore.Web.UI.Controls.Common.UserControls
@using Sitecore.Web.UI.Controls.Common.Buttons
@using Sitecore.Web.UI.Controls.Common.ListBoxes
@using Sitecore.Web.UI.Controls.Common.ComboBoxes
@using Sitecore.Web.UI.Controls.Common.Labels
@using Sitecore.FXM.Speak.Controls.Common.Labels
@using Sitecore.FXM.Speak.Controls.Common.Buttons
@model RenderingModel
@{
    var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
    
    userControl.Requires.Script("FXM", "AnalyticsItemPicker.js");
    
    var cssClass = "sc-AnalyticsItemPicker";
    userControl.AppendClass(cssClass);
    
    userControl.Attributes["data-sc-hasnested"] = "true";

    bool showPadding = userControl.GetBool("Padding", "Padding", false);
    string paddingClass = showPadding ?  "sc-show-padding" : string.Empty;
    
    var itemsPropertyValue = this.Model.Rendering.Parameters["Items"];
    userControl.Attributes["data-sc-items"] = itemsPropertyValue;
    
    var selectedItemsPropertyValue = this.Model.Rendering.Parameters["SelectedItems"];
    userControl.Attributes["data-sc-selecteditems"] = selectedItemsPropertyValue;

    var availableItemsLabelDatasource = this.Model.Rendering.Parameters["AvailableItemsLabelDataSource"];
    var selectedItemsLabelDatasource = this.Model.Rendering.Parameters["SelectedItemsLabelDataSource"];

    var addButtonDatasource = this.Model.Rendering.Parameters["AddButtonDataSource"];
    var removeButtonDatasource = this.Model.Rendering.Parameters["RemoveButtonDataSource"];
    
    var htmlAttributes = userControl.HtmlAttributes;
}

<div @htmlAttributes>
    <div class="row @paddingClass">
        <div class="col-md-2">
            @Html.Sitecore().Controls().Label(userControl.ControlId + "AvailableItemsLabel", availableItemsLabelDatasource)
        </div>
        <div class="col-md-8">
            @Html.Sitecore().Controls().ComboBox(userControl.ControlId + "AvailableItems", new { Items = itemsPropertyValue })
        </div>
        <div class="col-md-2">
            @this.Html.Sitecore().Controls().Button(userControl.ControlId + "AddButton", addButtonDatasource, new { Click = "javascript:app." + userControl.ControlId + ".viewModel.addItem();" })
        </div>
    </div>

    <div class="row @paddingClass">
        <div class="col-md-2">
            @Html.Sitecore().Controls().Label(userControl.ControlId + "SelectedItemsLabel", selectedItemsLabelDatasource)
        </div>
        <div class="col-md-8">
            @Html.Sitecore().Controls().ListBox(userControl.ControlId + "SelectedItems", new { Multiple = false, Items = selectedItemsPropertyValue })
        </div>
        <div class="col-md-2">
            @this.Html.Sitecore().Controls().Button(userControl.ControlId + "RemoveButton", removeButtonDatasource, new { Click = "javascript:app." + userControl.ControlId + ".viewModel.removeItem();" })
        </div>
    </div>
</div>