@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@*//-----------------------------------------------------------------------
    // Copyright 2017 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using System.Web.Mvc.Html
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Foundation.Common.ExtensionMethods
@using Sitecore.Commerce.XA.Feature.Cart.Models
@using Sitecore.Mvc

@model PromotionCodesRenderingModel

<div @Html.Sxa().Component("cxa-shoppingcartpromotion-component", Model.Attributes) data-cxa-component-class="CartPromotion" data-cxa-component-initialized="false" data-cxa-component-model="CartPromotionViewModel" data-cxa-component-type="component">

    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        var enterCouponCodeMessage = Html.Sitecore().Field("Title Message", Html.Sitecore().CurrentItem);
        var promoCodeLabel = Html.Sitecore().Field("Promotion Code Input Label", Html.Sitecore().CurrentItem);
        var promoCodeLabelPlaceholder = Html.Sitecore().CurrentItem["Promotion Code Input Label"];
        var promoCodeListLabel = Html.Sitecore().Field("Promo Code List Label", Html.Sitecore().CurrentItem);
        var addPromoCodeLabel = Html.Sitecore().Field("Add Promotion Code Button Label", Html.Sitecore().CurrentItem);
        var addingPromoCodeLabel = Html.Sitecore().CurrentItem["Add Promotion Code Button In-Progress Label"];
        var removeButtonLabel = Html.Sitecore().Field("Remove Link Text", Html.Sitecore().CurrentItem);

        <div class="component-content" data-bind="with: cart">
            <div class="cart-promotion-title"><h4>@enterCouponCodeMessage</h4></div>
            <div class="cart-promotion-form">
                <div class="promotion-code">
                    <label class="promo-code-input-label">@promoCodeLabel</label>
                    <input class="promo-code-input" type="text" placeholder="@promoCodeLabelPlaceholder" data-bind="value: promoCode, valueUpdate: 'keyup'">
                </div>

                <button class="add-promo-code-button" type="button" data-bind="enable: hasPromoCode, click: $parent.addPromotionCode" data-loading-text="@addingPromoCodeLabel">@addPromoCodeLabel</button>

            </div>
            <div class="added-promotion-codes" data-bind="visible: promoCodes().length > 0">
                <table>
                    <tbody data-bind="foreach: promoCodes">
                        <tr>
                            <td class="promotion-code-title">
                                <span class="added-promo-code-label">@promoCodeListLabel</span><span class="added-promotion-code" data-bind="text: $data"></span>
                            </td>
                            <td class="promotion-code-remove">
                                <a data-bind="click: $parents[1].removePromotionCode">@removeButtonLabel</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>