
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Foundation.Common.ExtensionMethods
@using Sitecore.Commerce.XA.Feature.Cart.Models

@model AddToCartRenderingModel

<div @Html.Sxa().Component("cxa-addtocart-component", Model.Attributes)>

    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        if (Model == null)
        {
            return;
        }

        var quantityLabel = Html.Sitecore().Field("Quantity Label", Html.Sitecore().CurrentItem);
        var addToCartLabel = Html.Sitecore().Field("AddToCart Label", Html.Sitecore().CurrentItem);
        var addingToCartLabel = Html.Sitecore().CurrentItem["AddingToCart Label"];

        <div id="C12-AddToCart" class="add-to-basket">
            @using (Ajax.BeginForm("AddCartLine", "Cart", null, new AjaxOptions { OnBegin = "SetAddButton", OnSuccess = "AddToCartSuccess", OnFailure = "AddToCartFailure", HttpMethod = "Post" }, new { @id = "AddToCartForm" }))
                {
                @Html.ValidationSummary(true)
                @Html.Hidden("addtocart_productid", Model.ProductId)
                @Html.Hidden("addtocart_variantid", string.Empty)
                @Html.Hidden("addtocart_catalogname", Model.CatalogName)
                @Html.AntiForgeryToken()

                <div class="control-group">
                    <label class="control-label" for="Quantity">@quantityLabel</label>
                    <div class="controls" id="quantity">
                        @Html.TextBoxFor(model => model.Quantity, new { @type = "number", @class = "form-control", @min = "1", @max = "100", @required = "required", @Value = "1" })
                        @Html.ValidationMessageFor(model => model.Quantity)
                    </div>
                </div>

                <button id="AddToCartButton" type="submit" class="btn btn-success" data-loading-text="@addingToCartLabel">
                    @addToCartLabel
                </button>
            }
        </div>
    }
</div>
