@using Sitecore.Globalization
@using Sitecore.Marketing.Client.Resources
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.Renderings
@using Sitecore.Web.UI.Controls.Common.UserControls
@model Sitecore.Mvc.Presentation.RenderingModel

@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-DeployMarketingDefinitions";
    rendering.Requires.Script("marketingutilities", "DeployMarketingDefinitionsComponent.js");
    rendering.HasNestedComponents = true;
    rendering.Attributes.Add("data-bind", "visible: isVisible");

    const string CheckboxRenderingId = "{3824DAB6-745A-468A-9D75-044591E72FB5}";
    const string ButtonRenderingId = "{913AB005-2527-4C2D-9827-FB3A8DFB135C}";
}
<style type="text/css">
    .sc-dialogHeader {
        height: 50px;
        padding: 0px;
        top: -5px;
    }

    .sc-dialogContent-main { display: none; }

    .sc-dialogContent h2 { margin: 0px; }

    .sc-DeployMarketingDefinitions h2 { margin-bottom: 10px; }
</style>
<h2>@Html.Sitecore().Placeholder("DeployMarketingDefinitions.Message")</h2>

<div @rendering.HtmlAttributes>
    <h2>@Translate.Text(Texts.SelectDefinitionsToDeploy)</h2>

    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbAutomationPlans", "", new
        {
            IsChecked = true,
            Text = Translate.Text(Texts.AutomationPlans)
        })
    </div>
    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbCampaigns", "", new
        {
            IsChecked = true,
            Text = Translate.Text(Texts.Campaigns)
        })
    </div>
    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbEvents", "", new
        {
            IsChecked = true,
            Text = Translate.Text(Texts.Events)
        })
    </div>
    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbFunnels", "", new
        {
            IsChecked = true,
            Text = Translate.Text(Texts.Funnels)
        })
    </div>
    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbGoals", "", new
        {
            IsChecked = true,
            Text = Translate.Text(Texts.Goals)
        })
    </div>
    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbMarketingAssets", "", new
        {
            IsChecked = true,
            Text = Translate.Text(Texts.MarketingAssets)
        })
    </div>
    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbOutcomes", "", new
        {
            IsChecked = true,
            Text = Translate.Text(Texts.Outcomes)
        })
    </div>
    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbPageEvents", "", new
        {
            IsChecked = true,
            Text = Translate.Text(Texts.PageEvents)
        })
    </div>
    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbProfiles", "", new
        {
            IsChecked = true,
            Text = Translate.Text(Texts.Profiles)
        })
    </div>
    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbSegments", "", new
   {
       IsChecked = true,
       Text = Translate.Text(Texts.Segments)
   })
    </div>

    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, CheckboxRenderingId, rendering.ControlId + "cbTaxonomies", "", new
        {
            IsChecked = true,
            Text = Translate.Text(Texts.Taxonomies)
        })
    </div>
    <div class="form-group">
        @Html.Sitecore().Controls().Rendering(Html, ButtonRenderingId, rendering.ControlId + "btnDeploy", "", new
        {
            ButtonType = "Primary",
            Text = Translate.Text(Texts.Deploy)
        })
    </div>
    <p>@Translate.Text(Texts.LongRunningOperation)</p>
</div>
