
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.Commerce.XA.Feature.Catalog.Models.ProductListPageInfoRenderingModel

<div @Html.Sxa().Component("cxa-productlistpageinfo-component", Model.Attributes)>
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        if (Model != null && Model.Pagination != null && Model.Pagination.TotalResultCount > 0)
        {
        <div class="component-content">
            <div class="productlist-header-section">
                <div class="showing-amount">
                    <h6>
                        @Html.Sitecore().Field("Showing", Html.Sitecore().CurrentItem)
                        <span>@Model.Pagination.StartResultIndex</span> -
                        <span>@Model.Pagination.EndResultIndex</span> @Html.Sitecore().Field("Of", Html.Sitecore().CurrentItem)
                        <span>@Model.Pagination.TotalResultCount</span>
                    </h6>
                </div>
            </div>
        </div>
        }
    }
</div>